*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color: #fff;
    margin-top: 10px;
}
#bold{
    font-size: 40px;
}
#bold::first-letter{
    color:#ff004f;
    font-size: 1.1em;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(Images/bg_photo\ 1.png); */
    background-size: 800px auto;
    background-repeat: no-repeat;
    background-position: left;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/*----- about -----*/

#about{
    padding: 80px 0px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.about-col-ani {
    flex-basis: 30%;
    position: relative;
}
.about-col-ani::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 3px;
    height: 0%;
    transform: translateX(30px);
    z-index: 10;
    /* margin-left: 30px; */
    background: #ff004f !important;
    transition: height 0.5s ease;
}
.about-col-ani.animate-line::before {
    height: 100%;
}
.about-col-1{
    flex-basis: 70%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute; 
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b45769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* --------------projects------------- */

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    /* height: 350px; */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}
/* ----------contact----------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 10px;
    font-size: 20px;
}
.social-icons{
    margin-top: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}
.btn.btn2{
    background-color: #ff004f;
    display: inline-block;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    background-color: #262626;
    font-size: 18px;
    border-radius: 8px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding: 25px 0;
    margin-top: 20px;
    background: #262626;
}
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    /* #header{
        background-image: url(#);
    } */
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
    display: block;
    font-size: 20px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 8;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{ 
        position: absolute;
        top: 30px;
        left: 20px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-ani, .about-col-1{
        flex-basis: 100%;
        margin-top: 20px;
    }
    .about-col-ani{
        display: none;
    }
    .about-col-1{
        font-size: 14px;
    }
    .about-col-ani{
        display: none;
    }
    #about{
        padding: 40px 0;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright {
        font-size: 14px;
    }
}
#msg{
    color: #61b752;
    display: block;
    margin-top: -30px;
}